In [ ]:
# Import
import pandas as pd

# Load csv file


# Read csv file and store into Pandas DataFrame


# Combine the data into a single dataset

In [ ]:
## District Summary

In [ ]:
# Total number of unique schools

In [ ]:
# Total students

In [ ]:
# Total budget

In [ ]:
# Average math score

In [ ]:
# Average reading score

In [ ]:
# Percentage of students passing math (math scores >= 70)

In [ ]:
# Percentage of students passing reading (reading scores >= 70)

In [ ]:
# Percentage of students passing math AND reading (overall passing) (math & reading scores >= 70)

In [ ]:
# Create a high-level snapshot of the district's key metrics in a DataFrame

In [ ]:
## School Summary

In [ ]:
# School name and type

In [ ]:
# Total student count

In [ ]:
# Total school budget and per student spending

In [ ]:
# Average math and reading scores (separately)

In [ ]:
# Percentage of schools passing math (scores >= 70)

In [ ]:
# Percentage of schools passing reading (scores >= 70)

In [ ]:
# Percentage of schools passing math AND reading (scores >= 70)

In [ ]:
# Create a DataFrame caled 'per_school_summary' with columns for the calculations above


# Formatting


# Display the DataFrame

In [ ]:
## Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by "% Overall Passing" in descending order and display the top 5 rows

In [ ]:
## Bottom Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by "% Overall Passing" in ascending order and display the top 5 rows

In [ ]:
## Math Scores by Grade

In [ ]:
# Separate the data by grade


# Group by "school name" and take the mean of each


# Select only the math score


# Combine each of the scores above into a single DataFrame


# Minor data wrangling


# Display the DataFrame

In [ ]:
## Reading Scores by Grade

In [ ]:
# Separate the data by grade


# Group by "school name" and take the mean of each


# Select only the reading score


# Combine each of the scores above into a single DataFrame


# Minor data wrangling


# Display the DataFrame

In [ ]:
## Scores by School Spending

In [ ]:
# Establish the bins

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget"

In [ ]:
# Use 'pd.cut' to categorize spending based on the bins

In [ ]:
# Calculate averages for the desired columns

In [ ]:
# Assemble into DataFrame


# Display results

In [ ]:
## Scores by School Size

In [ ]:
# Establish the bins

In [ ]:
# Categorize the spending based on the bins
# Use 'pd.cut' on the "Total Students" columns of the 'per_school_summary' DataFrame

In [ ]:
# Calculate averages for the desired columns

In [ ]:
# Create a DataFrame called 'size_summary' that breaks down school performance based on school size (sm, med, large)
# Use the scores above to crease a new DataFrame called 'size_summary'


# Display results

In [ ]:
## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results


# Select new column data

In [ ]:
# Assemble the new data by type into a DataFrame called 'type_summary'


# Display results